.test__component {
  display: flex;
  align-items: center;
  height: 50px;
  border-bottom: 1px solid whitesmoke;
  cursor: pointer;
  margin: 2px;
  background-color: whitesmoke;
}

.test__component:hover {
  border-top: 1px solid whitesmoke;
  box-shadow: 0px 4px 4px -2px rgba(0, 0, 0, 0.24);
}

.test__right {
  display: flex;
  flex-direction: column;
}

.test__icons {
  display: flex;
  font-weight: 400;
  margin-right: 0;
  margin-left: auto;
  /* position: relative;
  left: 400px; */
}

.test__content {
  display: flex;
  flex: 0.8;
  align-items: center;
  font-size: 13px;
  padding-left: 10px;
}

/* .test__content > h4 {
  width: 400px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 5px;
  padding-right: 5px;
} */

.test__content > p {
  font-weight: 400;
  padding-left: 5px;
}

.test__title {
  width: 200px;
  font-size: 13px;
  font-weight: bold;
  color: blue;
  flex: 0.3;
  padding-left: 5px;
  padding-bottom: 3px;
}

.test__icons > span {
  padding: 15px 5px;
}

.e-icon-div {
  width: 40px;
  height: 40px;
  margin: 10px;
  border-radius: 5px;
  background-color: gray;
  color: white;
  font-size: 20px;
}

.e-icon {
  margin: 10px 15px;
}

@media only screen and (max-width: 978px) {
  .test__component {
    /* max-width: 100vw; */
    display: flex;
    align-items: left;
    height: 50px;
    border-bottom: 1px solid whitesmoke;
    cursor: pointer;
    margin: 2px;
    background-color: whitesmoke;
  }
  .test__icons {
    display: flex;
    position: relative;
    left: 400px;
  }
}

/* Extra small devices (phones, 600px and down) */
/* @media only screen and (max-width: 600px) {...} */

/* Small devices (portrait tablets and large phones, 600px and up) */
/* @media only screen and (min-width: 600px) {...} */

/* Medium devices (landscape tablets, 768px and up) */
/* @media only screen and (min-width: 768px) {...} */

/* Large devices (laptops/desktops, 992px and up) */
/* @media only screen and (min-width: 992px) {...} */

/* Extra large devices (large laptops and desktops, 1200px and up) */
/* @media only screen and (min-width: 1200px) {...}   */

/* 320px
480px
600px
768px
900px
1024px
1200px */
