#sidebar {
  background: #000;
  grid-area: sidebar;
  overflow-y: auto;
  padding: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.sidebar__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #f3f4f6;
  margin-bottom: 30px;
}

.sidebar__img {
  display: flex;
  align-items: center;
}
.sidebar__title > div > img {
  width: 80px;
  object-fit: contain;
  /* margin-right: 7px; */
  border-radius: 10px;
}

.sidebar__title > div > h1 {
  font-size: 28px;
  color: #fff;
  display: inline;
  padding: 15px;
}
.sidebar__title i {
  font-size: 18px;
  display: none;
}
.sidebar__title i:hover {
  color: #000;
}

.sidebar__menu h2 {
  color: #f1f1f1;
  font-size: 16px;
  margin-top: 15px;
  margin-bottom: 5px;
  padding: 0 10px;
  font-weight: 700;
}
.sidebar__menu h2:hover {
  color: #000;
  text-decoration: underline;
}
.sidebar__link {
  color: #000;
  padding: 10px;
  border-radius: 3px;
  margin-bottom: 5px;
  /* background: rgba(79, 192, 135, 0.959); */
}
.sidebar__link:hover {
  background: #232b2b;
}
.active_menu_link {
  background: #232b2b;
  color: #000;
}
.active_menu_link a {
  color: #29e694;
}
.sidebar__link a {
  text-decoration: none;
  font-weight: 700;
  color: #fff;
}

.sidebar__link i {
  margin-right: 10px;
  font-size: 18px;
}
.sidebar__logout {
  margin-top: 20px;
  padding: 10px;
  color: rgb(253, 251, 251);
}
.sidebar__logout:hover {
  color: rgb(160, 7, 7);
}
.sidebar__logout a {
  text-decoration: none;
  color: #000;
  font-weight: 700;
  text-transform: uppercase;
}

.sidebar__logout i {
  margin-right: 10px;
  font-size: 18px;
}
.sidebar-responsive {
  display: inline !important;
  z-index: 9999 !important;
  left: 0 !important;
  position: absolute;
}

@media only screen and (max-width: 978px) {
  #sidebar {
    display: none;
  }
  .sidebar__title i {
    display: inline;
  }
}
